.tablet {
 -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.4) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(.4) translate(-50%);
  top:-5%;
  left: 80%; 
    width:768px;
    height: 1024px;
    margin: auto;
    border: 16px black solid;
    position: absolute;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-radius: 10px;
  }
  
  /* The horizontal line on the top of the device */

  /* The circle on the bottom of the device */

  
  /* The screen (or content) of the device */
  .tablet .content {
    width:768px;
    height: 1024px;
      background: white;
    margin: -1px;
  }